<div class="col-md-4">
	<div class="container">
		<aside>
			<div id="acts-home" class="center">
				<%= link_to(image_tag("actslogo.png", size: "280x83", alt: "ACTS Austin"), "http://actsaustin.org", :target => '_blank') %>
				<p>
					Photo booth occupy kick starter, pork belly butcher pug celiac semiotics actually thunder cats health goth. Pinterest gochujang deep v.
				</p>
			</div>
			<hr>
			
			<div id="facebook" class="center">
				<%= link_to(image_tag("Facebook.png", size: "144x28", alt: "ACTS Austin Facebook"), "https://www.facebook.com/groups/actsaustin", :target => '_blank') %>
				<p>
					Photo booth occupy kick starter, pork belly butcher pug celiac semiotics actually thunder cats health goth. Pinterest gochujang deep v.
				</p>
			</div>
			<hr>	
		</aside>
	</div>
</div>