<div class="col-md-4">
	<div class="container">

		<p id="assignment_navs">
			<strong><%= link_to "View drivers", drivers_path %> | </strong>
			<strong><%= link_to "View riders", riders_path %></strong>
		</p>

	</div>
</div>