<footer class="footer">
	<div class="center" >
		<small>
	    Web application for <strong><a href="http://actsaustin.org/">ACTS Fellowship Church</a></strong>
	    by <strong><a href="http://nathanshin.me/">Nathan Shin</a><strong>
	  </small>
	  <nav>
	    <ul>
	     
	    </ul>
	  </nav>
	</div>
</footer>