<header class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container">
    <%= link_to "ACTS Rides", assignments_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
      
      </ul>
    </nav>
  </div>
</header>