<header>
	<div class="container">
		<div id="head">

			<h1><%= yield(:title) %></h1>
			<% if yield(:title) == "Assignments" && admin_signed_in? %>
				<div class="btn btn-primary">
					<%= link_to new_assignment_path  do %>
						<span class="glyphicon glyphicon-plus-sign"></span> New Assignment
					<% end %>
				</div>
			<% elsif yield(:title) == "Drivers List" && admin_signed_in? %>
				<div class="btn btn-primary">
					<%= link_to new_driver_path  do %>
						<span class="glyphicon glyphicon-plus-sign"></span> New Driver
					<% end %>
				</div>
			<% elsif yield(:title) == "Riders List" && admin_signed_in? %>
				<div class="btn btn-primary">
					<%= link_to new_rider_path  do %>
						<span class="glyphicon glyphicon-plus-sign"></span> New Rider
					<% end %>
				</div>
			<% end %>
		</div>
	</div>
</header>
